{% import "bootstrap/wtf.html" as wtf %}
{% from 'macros.html' import form_field %}

{% extends 'page.html' %}

{% macro with_errors(field) %}
    <div class="field">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <h1>3D-Print Request</h1>

    <div class="req_form">
        <form action="{{ url_for('3dprint.request') }}" method="POST">
            {{ form.csrf_token }}
            <div data-toggle="fieldset" id="print-fieldset">
                <button class="btn btn-default" type="button" data-toggle="fieldset-add-row" data-target="#print-fieldset">Add Another File</button>

                <table class="table table-compact">
                    <tr>
                        <th>File Upload</th>
                        <th>Quantity</th>
                        <th>Filament</th>
                        <th></th>
                    </tr>
                    {% for print in form.prints %}
                        <tr data-toggle="fieldset-entry" class="form-group">
                            <td>{{ print.file }}</td>
                            <td>{{ print.quantity(class="form-control") }}</td>
                            <td>{{ print.filament(class="form-control") }}</td>
                            <td><button class="btn btn-default" type="button" data-toggle="fieldset-remove-row" id="prints-{{loop.index0}}-remove">-</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {{ form.submit(class="btn btn-default") }}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/dist/js/print.js"></script>
{% endblock %}