{% extends 'page.html' %}

{% macro with_errors(field) %}
    <div class="form-group">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% block content %}
    <!-- Edit Profile Form -->
    <form action="{{ url_for('account.edit_profile') }}" method="POST">
        <div class="form-group">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if not loop.first and not loop.last %}
                {{ field.label }}
                {{ with_errors(field) }}
            {% endif %}
        {% endfor %}
        {{ form.submit }}
        </div>
    </form>
{% endblock %}